div > h1 {
    text-align: center;
}

h3 {
    color: yellow;
}

h4 {
    color: blue;
    text-align: center;
}

div#header {
    background-color: rgb(255, 102, 102);
}

div#footer {
    background-color: red;
}

div#content-container {
    background-color: lime;
    margin: auto;
    width: 85%;
    padding: 10px;
}

div.recipe-container {
    background-color: fuchsia;
    margin: 10px;
    padding: 10px;
}