div > h1 {
    text-align: center;
}

div > h2 {
    text-align: center;
}

div#header {
    background-color: rgb(255, 102, 102);
}

div#body {
    background-color: rgb(179, 179, 179);
}

div#footer {
    background-color: rgb(255, 102, 102);
}

div.col-2, div.col-3 {
    background-color: rgb(242, 242, 242);
}