body {
    background-image: url("../media/chipz.jpg");
    background-repeat: no-repeat, repeat;
    background-color: rgb(153, 153, 102);
    background-size: cover;
}
div > h1 {
    text-align: center;
}

h3 {
    color: rgb(179, 0, 0);
}

h4 {
    color: rgb(13, 13, 13);
    text-align: center;
}

div#header {
    background-color: rgb(255, 102, 102);
}

div#footer {
    background-color: red;
}

div#super-container {
    background-color: rgb(77, 0, 31);
}

div.recipe-container {
    background-color:rgb(242, 242, 242);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}